{% extends 'bootstrap/base.html' %}

{% block title %} Jonathan Shamwana {% endblock %}

{% block styles %}
    {{ super() }}
    <link href="static/styles/styles.css" rel="stylesheet">
    <link href="static/styles/cards.css" rel="stylesheet">
    <link href="static/styles/blog.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
{% endblock %}

{% block content %}

{% include 'header.html' %}

<!-- Start of Hero -->

    <div class="container my-5 hero-section">
        <div class="row hero-row p-4 pb-0 pe-lg-0 pt-lg-3 align-items-center rounded-3 border shadow-lg" s>
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="hero-heading lh-1 text-body-emphasis py-3">Hello ello ello</h1>
            <h2 class="lh-1 text-body-emphasis pb-4">I'm <span style="color:#216A3C">Jonathan</span>, and I like to build stuff.</h2>
              <p class="lead">I'm a sophomore CS student @ Minerva University, actively seeking PM/SWE internships for summer/fall '24</p>
              <p class="lead">When I'm not studying, you can find me training for my next marathon, working on a full-stack website, or building GenZed, a community of young, Zambian hackers -- our first in-person hackathon is in May '24, and the 1st edition of the newsletter drops in the coming weeks!</p>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
              <img class="rounded-lg-3" src="static/images/selfie.png" alt="Headshot of Jonathan" height="250" width="250">
          </div>
        </div>
    </div>

<!-- Start of Project Section -->

    <section id="swe-section" class="py-3">
        <div class="container">
            <div class="row">
                <h1 class="text-center pb-2">Technical Projects</h1>

                    <!-- Start of Afrika Tales-->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/ntumba-portfolio-site.png');">
                            <p class="large">AI Bedtime Story Generator</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">Afrika Tales<span class="release_date">(July 2023)</span></div>
                            <div class="rating">
                                <label>Web Development</label>
                            </div>
                            <p class="review pt-3">Open AI API, Python (Flask), HTML & CSS</p>
                            <p class="overview">Representation isn't only important in Hollywood movies. It starts as early as the bedtime stories you read as a child. Afrika Tales uses the Open AI API to generate custom stories that African parents can read to their children.</p>
                            <p class="overview pb-3">Functionality: photo and text generation, samples shown on the site, and instructions for people to run the program. In the next iteration, users will be able to generate stories on the site.</p>

                            <a href="https://afrika-tales.onrender.com/" class="button blue-button">View Project</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Afrika Tales -->

                    <!-- Start of Police Shooting Project -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/police-brutality-art.jpeg');">
                            <p class="large">Police Shooting: Data Analysis</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">Police Shooting Analysis<span class="release_date">(Aug 2023)</span></div>
                            <div class="rating">
                                <label>Data Analysis</label>
                            </div>
                             <p class="review pt-3">Python (Pandas, NumPy, Seaborn & other data viz modules)</p>
                             <p class="overview">What shapes your perception of police brutality? Catchy but biased news headlines? I dive into five datasets from the Washington Post to depict police shootings in the US in a more nuanced manner. I use bias mitigation strategies throughout to increase realiability.</p>
                             <p class="overview pb-3">Features: a variety of data visualizations, written interpretations of the data, links to relevant articles, and a "Summary & Key insights" section. </p>

                             <a href="https://bit.ly/43T2KmO" class="button blue-button">View Project</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Police Shooting Project -->

                    <!-- Start of Typing Test -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/typing.jpg');">
                            <p class="large">Typing Test (OOP)</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">Typing Test<span class="release_date">(May 2023)</span></div>
                            <div class="rating">
                                <label>GUI</label>
                            </div>
                             <p class="review pt-3">Python</p>
                             <p class="overview">Although there's nothing unique about a typing test project, it demonstrates that I have a firm grasp of Object-oriented programing, and can make a clean and intuitive GUI.</p>
                             <p class="overview pb-3">Additional feature: once the timer is up, a leaderboard window pops up. It displays the 3 highest scores and a percentile estimate.</p>

                             <a href="https://github.com/jonathanshamwana/typing-speed-test" class="button blue-button">View Project</a>
                             <a href="{{ url_for('see_photos', file_paths='typing-screenshot-1.jpg,typing-screenshot-2.jpg,typing-video.mp4') }}" class="button red-button">See Photos</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Typing Test -->

                    <!-- Start of Ecommerce Site -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/digi-fashion.png');">
                            <p class="large">E-commerce Site: Digital Fashion</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">E-commerce Site<span class="release_date"> (June 2023)</span></div>
                            <div class="rating">
                                <label>Web Development</label>
                            </div>
                            <p class="review pt-3">Python (Flask, SQAlchemy database), HTML & CSS, Stripe API</p>
                            <p class="overview">Since 2020, there's been a massive surge in digital fashion. Covid-19 encouraged brands to find new ways to stay relevant. As we progress in an increasingly digital world, with mixed-reality technologies, there's a huge gap for brands to offer digital garments.</p>
                            <p class="overview pb-3">This is a concept store. Ideally, the products would be NFTs that would give buyers exclusive brand resources. The site is down at the moment because of an issue with my product database, but for now, you can watch the screen recording.</p>

                            <a href="{{ url_for('see_photos', file_paths='fashion-ecommerce.mp4') }}"  class="button blue-button">View Project</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Ecommerce Site -->

                    <!-- Start of Watermark GUI -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/watermark.jpg');">
                            <p class="large">Watermarking Tool</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">Watermarking Tool<span class="release_date">(June 2023)</span></div>
                            <div class="rating">
                                <label>GUI</label>
                            </div>
                            <p class="review pt-3">Python (TKInter)</p>
                            <p class="overview">When I worked at a marketing agency, many clients complained that people were stealing their content. Adding watermarks to content was a simple solution to that problem.</p>
                            <p class="overview pb-3">This simple program allows users to do that seamlessly. The GUI is minimalistic and intuitive.</p>

                            <a href="https://github.com/jonathanshamwana/WatermarkGUI" class="button blue-button">View Project</a>
                            <a href="{{ url_for('see_photos', file_paths='watermark-screenshot-1.jpg,watermark-screenshot-2.jpg') }}" class="button red-button">See Photos</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Watermark GUI -->

                    <!-- Start of Minerva Cafes -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/cafe.jpg');">
                            <p class="large">Cafe Search & Review Site</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">Minerva Cafes<span class="release_date">(June 2023)</span></div>
                            <div class="rating">
                                <label>GUI</label>
                            </div>
                            <p class="review pt-3">Python (Flask, SQAlchemy Databases), HTML & CSS</p>
                            <p class="overview">My college experience involves moving to a new country each semester, and taking classes on an interactive online forum. Therefore, finding great cafes is a pivotal to my education. I made this site for my peers and I to use.</p>
                            <p class="overview pb-3">Functionality: users can create accounts, add to the database, leave reviews, and filter by neighborhood.</p>

                            <a href="https://minerva-cafes.onrender.com" class="button blue-button">View Project</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of Minerva Cafes -->

                    <!-- Start of QR Code Generator -->
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="front" style="background-image: url('static/images/qr-painting.png');">
                            <p class="large">Batch QR Code Generator</p>
                        </div>
                        <div class="back">
                          <div>
                        <div class="title">QR Code Generator<span class="release_date">(July 2023)</span></div>
                            <div class="rating">
                                <label>GUI</label>
                            </div>
                            <p class="review pt-3">Python (TKInter, qrcode module)</p>
                            <p class="overview">During my summer internship, I had to create over 50 QR codes. Doing them one-by-one was tedious and my free trial for code-monkey.com expired. So I coded up the same feature for myself.</p>
                            <p class="overview pb-3">Functionality: Simple GUI w/ instructions. Upload a csv. QR code images get saved as separate files.</p>

                            <a href="https://github.com/jonathanshamwana/qrcode-generator" class="button blue-button">View Project</a>
                            <a href="{{ url_for('see_photos', file_paths='qrcode-screenshot.png,qrcode-screenshot2.png') }}" class="button red-button">See Photos</a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End of QR Code Generator -->


            </div>
        </div>
    </section>

    <section id="pm-section" class="pm-section p-5">
        <div class="container">
        <h1 class="text-center pb-2">Articles</h1>
            <div class="row justify-content-center">

                 <div class="col-md-12">
                    <div class="media blog-media">
                      <a href="blog-post-left-sidebar.html"><img class="d-flex" src="static/images/gradient.jpg" alt="Gradient image" height="270"></a>
                      <div class="media-body">
                        <a href="https://medium.com/@jonathanshamwana/the-airpod-epidemic-b7fc1cfc37a5"><h5 class="mt-0">The airpod epidemic.</h5></a>
                        You’re probably wearing headphones as you read this. So let me suggest something unthinkable… Take them off. Your headphones are killing you.
                        <a href="https://medium.com/@jonathanshamwana/the-airpod-epidemic-b7fc1cfc37a5" class="post-link">Read More</a>
                        <ul>
                            <li>by: Jonathan Shamwana</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media blog-media">
                      <a href="blog-post-left-sidebar.html"><img class="d-flex" src="static/images/gradient.jpg" alt="Gradient image" height="270"></a>
                      <div class="media-body">
                        <a href="https://medium.com/@jonathanshamwana/the-importance-of-intergenerational-friendships-062bf74d17cd"><h5 class="mt-0">The importance of intergenerational friendships.</h5></a>
                        This year, I befriended a 65-year-old man at my local gym. The two of us would cycle around the Bay Area, poking fun at each other and telling stories. Me, a black, foreign college student. Him, a white, American retiree.
                        <a href="https://medium.com/@jonathanshamwana/the-importance-of-intergenerational-friendships-062bf74d17cd" class="post-link">Read More</a>
                        <ul>
                            <li>by: Jonathan Shamwana</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media blog-media">
                      <a href="blog-post-left-sidebar.html"><img class="d-flex" src="static/images/gradient.jpg" alt="Gradient image" height="270"></a>
                      <div class="media-body">
                        <a href="https://medium.com/@jonathanshamwana/these-4-stoic-lessons-will-make-you-a-better-software-engineer-56afc4137a5c"><h5 class="mt-0">4 Stoic Lessons that will save beginner software engineers.</h5></a>
                        I’ve learned a lot in the past few months, but one of my most surprising lessons has been that practicing Stoicism will 100% make you a better software engineer.
                        <a href="https://medium.com/@jonathanshamwana/these-4-stoic-lessons-will-make-you-a-better-software-engineer-56afc4137a5c" class="post-link">Read More</a>
                        <ul>
                            <li>by: Jonathan Shamwana</li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="media blog-media">
                      <a href="blog-post-left-sidebar.html"><img class="d-flex" src="static/images/gradient.jpg" alt="Gradient image" height="270"></a>
                      <div class="media-body">
                        <a href="https://medium.com/@jonathanshamwana/9-lessons-for-startup-founders-from-obamas-2008-campaign-26603fa22be0"><h5 class="mt-0">9 Lessons for Startup Founders from Obama’s 2008 Campaign</h5></a>
                        Although business and politics seem like worlds apart, Obama’s 2008 campaign team looked just like an early-stage startup, clawing their way from underdog status.
                        <a href="https://medium.com/@jonathanshamwana/9-lessons-for-startup-founders-from-obamas-2008-campaign-26603fa22be0" class="post-link">Read More</a>
                        <ul>
                            <li>by: Jonathan Shamwana</li>
                        </ul>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<!-- End of Project Section -->


{% include 'footer.html' %}

{% endblock %}

<!-- End of Hero -->

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

{% endblock %}